@font-face {
    font-family: 'Nanum Square light';
    font-style: normal;
    font-weight: 100;
    src: url(/font/NanumSquareL.eot);
    src: local('Nanum Square Light'),
         local('NanumSquareL'),
         url(/font/NanumSquareL.eot?#iefix) format('embedded-opentype'),
         url(/font/NanumSquareL.woff2) format('woff2'),
         url(/font/NanumSquareL.woff) format('woff'),
         url(/font/NanumSquareL.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Nanum Square';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NanumSquareR.eot);
    src: local('Nanum Square Regular'),
         local('NanumSquareR'),
         url(/font/NanumSquareR.eot?#iefix) format('embedded-opentype'),
         url(../fonts/NanumSquareR.woff2) format('woff2'),
         url(../fonts/NanumSquareR.woff) format('woff'),
         url(../fonts/NanumSquareR.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Nanum Squaref bold';
    font-style: bold;
    font-weight: 700;
    src: url(/font/NanumSquareB.eot);
    src: local('Nanum Square Bold'),
         local('NanumSquareB'),
         url(/font/NanumSquareB.eot?#iefix) format('embedded-opentype'),
         url(/font/NanumSquareB.woff2) format('woff2'),
         url(/font/NanumSquareB.woff) format('woff'),
         url(/font/NanumSquareB.ttf) format('truetype');
  }

  @font-face {font-family: "Handel Gothic"; src: url("http://db.onlinewebfonts.com/t/a97dc52b4b2059e5f04907cb7492af0b.eot"); src: url("http://db.onlinewebfonts.com/t/a97dc52b4b2059e5f04907cb7492af0b.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/a97dc52b4b2059e5f04907cb7492af0b.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/a97dc52b4b2059e5f04907cb7492af0b.woff") format("woff"), url("http://db.onlinewebfonts.com/t/a97dc52b4b2059e5f04907cb7492af0b.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/a97dc52b4b2059e5f04907cb7492af0b.svg#Handel Gothic") format("svg"); }
  


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }

body {
    line-height: 1em; }
ol, ul {
    list-style: none; }

table {
    border-collapse: collapse;
    border-spacing: 0; }
* { -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }